Repository react-native-async-storage/async-storage, pull requests merged in 2019-02, with the labels that each got.

#20 Correct imports
  ios/RNCAsyncStorage.m
Labels: Platform: iOS

#25 Remove error when empty for multi[Remove|Set]
  android/src/main/java/com/reactnativecommunity/asyncstorage/AsyncStorageModule.java
Labels: Enhancement, Platform: Android

#22 Feature/use async storage
  README.md
  babel.config.js
  docs/API.md
  lib/AsyncStorage.js
  lib/hooks.js
  lib/index.js
  package.json
Labels: Enhancement
