Repository react-native-async-storage/async-storage, pull requests merged in 2019-03, with the labels that each got.

#26 rename filenames in code to match case-sensitively real filenames
  example/ios/AsyncStorageExample.xcodeproj/project.pbxproj
  ios/RNCAsyncStorage.xcodeproj/project.pbxproj
Labels: Bug, Platform: iOS

#24 [General] Semantic release, contributing guide, templates
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/03_question_discussion.md
  .github/PULL_REQUEST_TEMPLATE.md
  .releaserc
  CONTRIBUTING.md
  README.md
  package.json
  yarn.lock
Labels: Enhancement

#30 Added Android manual linking guide
  docs/Linking.md
Labels: Docs

#31 Docs improvement
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/03_question_discussion.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs

#28 TypeScript support
  package.json
  types/index.d.ts
Labels: Enhancement

#34 [Chore] Fix publish CI job
  .circleci/config.yml
Labels: Docs

#38 [chore] Use Community's eslint config, change info about hooks API
  .eslintrc
  README.md
  docs/API.md
  example/src/App.js
  lib/hooks.js
  package.json
  yarn.lock
Labels: Docs

#46 [Fix] Use same directory name for storage, couple of fixes
  example/ios/AsyncStorageExample.xcodeproj/project.pbxproj
  ios/RNCAsyncStorage.m
  lib/AsyncStorage.js
Labels: Platform: Android, Platform: iOS
